/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  min-height: calc(100vh - 100px); /* Ensures the heroBanner takes up the remaining height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #2e8b57, #40e0d0); /* Adds a diagonal gradient */
  color: white; /* Ensures the text is readable on the gradient background */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    flex-direction: column; /* Stacks the buttons vertically */
    gap: 10px; /* Adjust the gap between the buttons */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.container {
  text-align: center;
}